* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.menu {
  display: none;
}

.navbar {
  background-color: gray;
  margin-left: 10px;
}

main {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.product {
  padding-top: 3px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  text-align: center;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

/* tablets, ipads(portrait)
768px - 1024px*/

@media (min-width: 768px) and (max-width: 1024px){
  header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  }

  main {
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-direction: column;
  }

  .product {
  padding-top: 3px;
  border: solid;
  margin: 2px;
  border-radius: 8px;
  border-width: 1px;
  border-color: gainsboro;
  text-align: center;
  }
}

/* pantallas grandes 1025px */

@media (min-width: 1025px){
   header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  h1{
    padding-right: 300px;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    background-color:gray;
    margin-left: 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
  }

  li {
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 45px;
    padding-right: 45px;
  }

  p {
    text-align: left;
  }

  .product {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid;
    border-width: 1px;
    border-color: gainsboro;
    padding-bottom: 3px;
    width: 430px;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  ul li i {
    font-size: 25px;
  }
}
